<!DOCTYPE HTML>
<html>
<head>
	<title><%=title%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div id="wrapper">		
		<div class="row">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#">Home</a>
					</li>
						<p class="navbar-text pull-right">Signed in as <strong><%=name%></strong> 
							<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm">Edit Profile</a>	
							<a href="/logout" class="btn btn-primary btn-sm">Logout</a>	
						</p>				
				</ul>	
		</div>	

		<div class="divider">
			<div class="panel panel-default">
				<div class="panel-heading" id="headPanel">
					<h3 class="panel-title">Welcome to Trivia</h3>
				</div>
				<div class="panel-body">
					<div class="chatBox" data-spy="scroll" data-target="#headPanel" id="chatBox">
						<div class="panel panel-default pull-left left-box">
							<div class="panel-body box-left"></div>
						</div>
						<div class="panel panel-default pull-right right-box">
							<div class="panel-heading" id="headPanel">
								<b>Participants</b>
							</div>							
							<div class="panel-body box-right"></div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
					 <div class="col-lg-12">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Type your answer" id="answerTxt">
						  	<span class="input-group-btn">
						    	<button class="btn btn-default" type="button" id="answerBtn">Answer</button>
						  	</span>
						</div>
					</div>
				</div>
				</div>
			</div>	
		</div>	
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" role="form" action="/update" method="POST">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" data-target="#myModal" aria-hidden="true">&times;</button>
				  <h4 class="modal-title" align='left'>Profile Settings</h4>
				</div>
				
				<div class="modal-body">
					<div class="form-group">
					<label for="firstname" class="col-lg-4 control-label">Firstname</label>
						<div class="col-lg-8">
							<% var textName = (authenticated) ? profile.firstname : "" %>
						  	<input type="text" class="form-control" id="firstname" placeholder="Firstname" name="firstname" value="<%=textName%>">
						</div>
					</div>
					<div class="form-group">
					<label for="lastname" class="col-lg-4 control-label">Lastname</label>
						<div class="col-lg-8">
							<% var textLname = (authenticated) ? profile.lastname : "" %>
						  	<input type="text" class="form-control" id="lastname" placeholder="Lastname" name="lastname" value="<%=textLname%>">
						</div>
					</div>	  
					<div class="form-group">
					<label for="email" class="col-lg-4 control-label">Email</label>
						<div class="col-lg-8">
							<% var textEmail = (authenticated) ? profile.email : "" %>
						  	<input type="email" class="form-control" id="email" placeholder="Email" name="email" value="<%=textEmail%>">
						</div>
					</div>				  			
					<div class="form-group">
					<label for="username" class="col-lg-4 control-label">Username</label>
						<div class="col-lg-8">
						  	<input type="text" class="form-control" id="username" placeholder="Username" name="username" value="">
						</div>
					</div>	
					<div class="form-group">
					<label for="password" class="col-lg-4 control-label">Password</label>
						<div class="col-lg-8">
						  	<input type="password" class="form-control" id="password" placeholder="Password" name="password" value="">
						</div>
					</div>	
					<div class="form-group">
					<label for="retype-password" class="col-lg-4 control-label">Re-type Password</label value="">
						<div class="col-lg-8">
						  	<input type="password" class="form-control" id="retype-password" placeholder="Retype Password" name="retype-password" value="">
						</div>
					</div>					  				  				  		  					
				</div>

				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#myModal">Close</button>
				  	<input type="submit" class="btn btn-primary" value="Update"/>
				</div>
				</form>
			</div>
		</div>	
	</div>		
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/tooltip.js"></script>
	<script type="text/javascript" src="/js/popover.js"></script>
	<script type="text/javascript" src="/js/affix.js"></script>
	<script type="text/javascript" src="/js/alert.js"></script>
	<script type="text/javascript" src="/js/button.js"></script>
	<script type="text/javascript" src="/js/carousel.js"></script>
	<script type="text/javascript" src="/js/collapse.js"></script>
	<script type="text/javascript" src="/js/dropdown.js"></script>
	<script type="text/javascript" src="/js/modal.js"></script>
	<script type="text/javascript" src="/js/scrollspy.js"></script>
	<script type="text/javascript" src="/js/tab.js"></script>
	<script type="text/javascript" src="/js/transition.js"></script>
	<script type="text/javascript" src="/js/socket.io/socket.io.js"></script>
	<script type="text/javascript"> 
		var name = '<%=profile.firstname%>'; 
	</script>
	<script type="text/javascript" src="/js/chat_client.js"></script>	
</body>
</html>